/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  max-width: 1200px;
  margin: 24px auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery li img {
  width: 360px;
  height: 200px;
  transition: transform 250ms ease;
}

.gallery li img:hover {
  transform: scale(1.03);
}

.feedback-form {
  margin: 24px 0 0 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background-color: transparent;
}

.feedback-form textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 80px;
  padding: 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background-color: transparent;
}

.feedback-form button {
  border: none;
  width: 86px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  transition: 250ms ease;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}

nav {
  margin: 24px 0 0 24px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-item {
  transition: color 250ms ease;
}

.nav-item:hover {
  color: #4e75ff;
}
